.row > col-lg {
    display: flex;
    justify-items: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    display: flex;
}

.product_img {
    display: flex;
    justify-items: center;
    align-items: center;
}
.pro_img {
    width: auto;
    max-width: 400px;
    margin: 20px;
    align-items: center;
}

.product_info {
    width: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.title {
    font-size: 20px;
    margin: 10px;
    font-weight: 800;
}

.price {
    font-size: 18px;
}

.description {
    margin-top: 20px;
}

.cart-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}
form > label {
    margin-right: 10px;
}

form > select {
    margin-right: 10px;
    padding: 10px;
    height: 35px;
}

form > button {
    height: 35px;
}

.btn-box{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.btn-box > button {
    margin-left: 10px;
}