.top{
    display: flex;
}

.top_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    list-style-type: none;

    display: flex;
}